.text-section {
	margin: 3em auto;
}

.textS-section:first-child {
	margin-top: 0;
}

.centered {
	text-align: center;
}
.left{
	text-align: left;
}

p,
label {
	font-family: Georgia, Times, 'Times New Roman', serif;
	line-height: 1.5em;
}

.link {
	text-decoration: none;
}

.username-form {
	margin-bottom: 1em;
	color: blue;
}

.input {
	outline: none;
	border-bottom: 1px dotted #999;
}

.background{
	width: 344px;
	height: 167px;
	background-image: url(./images/winter2.png);
	text-align: left;
}