.box{
	max-height: 700px;
}
.li{
	height: 30px;
	width:230px;
	border: 1px solid #C3BABA;
	border-top: 0;
	cursor: pointer;
	line-height: 30px;
	padding-left: 5px;
	position: relative;
	background-color: #f2f1f3
}


.li span.status{
	width: 8px;
	height: 20px;
	position: absolute;
	top: 5px;
	right: 2px;
	display: inline-block;
}

.li span.text{
	display: inline-block;
	width:200px;
	height: 30px;
	overflow: hidden;
	font-weight: normal;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.li span.red{
	border-right: 10px solid #FF3000;
}
.li span.green{
	border-right: 10px solid #32CD32;
}
.li span.orange{
	border-right: 10px solid #FFA500;
}
.li span.yellow{
	border-right: 10px solid #FFD700;
}
.li:hover{
	background-color: #ddd;
	color:#64f;
	border: 1px solid #666;
}
.title{
	height: 30px;
	width:230px;
	background-color: #84a2d4;
	color:#fff;
	font-size: 1.2em;
	position: relative;
	padding-left: 5px;
	line-height: 30px;
}
.box button{
	height: 20px;
	line-height: 20px;
	width:20px;
	display: inline-block;
	border: 1px solid white;
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
}
.show{
	display: block;
}

.hidden{
	display: none;
}
