
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>IconFont</title>
    <link rel="stylesheet" href="demo.css">
    <link rel="stylesheet" href="iconfont.css">
</head>
<body>
    <div class="main">
            <h1>主导航</h1>
            <ul class="icon_lists clear">

                    <li>
                            <i class="icon iconfont">&#xe600;</i>
                            <div class="name">首页</div>
                            <div class="code">&amp;#xe600;</div>
                    </li>

                    <li>
                            <i class="icon iconfont">&#xe601;</i>
                            <div class="name">基础数据</div>
                            <div class="code">&amp;#xe601;</div>
                    </li>

                    <li>
                            <i class="icon iconfont">&#xe602;</i>
                            <div class="name">设计管理</div>
                            <div class="code">&amp;#xe602;</div>
                    </li>

                    <li>
                            <i class="icon iconfont">&#xe603;</i>
                            <div class="name">质量管理</div>
                            <div class="code">&amp;#xe603;</div>
                    </li>

                    <li>
                            <i class="icon iconfont">&#xe604;</i>
                            <div class="name">进度管理</div>
                            <div class="code">&amp;#xe604;</div>
                    </li>

                    <li>
                            <i class="icon iconfont">&#xe605;</i>
                            <div class="name">安全检测</div>
                            <div class="code">&amp;#xe605;</div>
                    </li>

                    <li>
                            <i class="icon iconfont">&#xe606;</i>
                            <div class="name">监控视频</div>
                            <div class="code">&amp;#xe606;</div>
                    </li>

                    <li>
                            <i class="icon iconfont">&#xe60b;</i>
                            <div class="name">水情测报</div>
                            <div class="code">&amp;#xe60b;</div>
                    </li>

                    <li>
                            <i class="icon iconfont">&#xe607;</i>
                            <div class="name">混凝土温控</div>
                            <div class="code">&amp;#xe607;</div>
                    </li>

                    <li>
                            <i class="icon iconfont">&#xe608;</i>
                            <div class="name">基础数据</div>
                            <div class="code">&amp;#xe608;</div>
                    </li>

                    <li>
                            <i class="icon iconfont">&#xe609;</i>
                            <div class="name">系统管理</div>
                            <div class="code">&amp;#xe609;</div>
                    </li>

                    <li>
                            <i class="icon iconfont">&#xe60a;</i>
                            <div class="name">用户中心</div>
                            <div class="code">&amp;#xe60a;</div>
                    </li>

                    <li>
                            <i class="icon iconfont">&#xe60c;</i>
                            <div class="name">灌浆系统</div>
                            <div class="code">&amp;#xe60c;</div>
                    </li>
            </ul>
            <h1>用户区</h1>
            <ul class="icon_lists clear">
                    <li>
                            <i class="icon iconfont">&#xe630;</i>
                            <div class="name">消息中心</div>
                            <div class="code">&amp;#xe60a;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe631;</i>
                            <div class="name">退出</div>
                            <div class="code">&amp;#xe631;</div>
                    </li>
            </ul>
            <h1>侧导航</h1>
            <ul class="icon_lists clear">
                    <li>
                            <i class="icon iconfont">&#xe610;</i>
                            <div class="name">综合展示-设计模型</div>
                            <div class="code">&amp;#xe610;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe611;</i>
                            <div class="name">综合展示-施工进度</div>
                            <div class="code">&amp;#xe611;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe612;</i>
                            <div class="name">综合展示-工程投资</div>
                            <div class="code">&amp;#xe612;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe613;</i>
                            <div class="name">综合展示-工程质量</div>
                            <div class="code">&amp;#xe613;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe614;</i>
                            <div class="name">综合展示-工程文档</div>
                            <div class="code">&amp;#xe614;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe615;</i>
                            <div class="name">设计管理-图纸报审</div>
                            <div class="code">&amp;#xe615;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe616;</i>
                            <div class="name">设计管理-修改通知报审</div>
                            <div class="code">&amp;#xe616;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe617;</i>
                            <div class="name">质量管理-单元工程填报</div>
                            <div class="code">&amp;#xe617;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe618;</i>
                            <div class="name">质量管理-一类质量验评</div>
                            <div class="code">&amp;#xe618;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe619;</i>
                            <div class="name">质量管理-二类质量验评</div>
                            <div class="code">&amp;#xe619;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe61a;</i>
                            <div class="name">进度管理-进度计划填报</div>
                            <div class="code">&amp;#xe61a;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe61b;</i>
                            <div class="name">进度管理-实际进度填报</div>
                            <div class="code">&amp;#xe61b;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe616;</i>
                            <div class="name">进度管理-修改报审通知</div>
                            <div class="code">&amp;#xe616;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe61d;</i>
                            <div class="name">进度管理-施工计划输入</div>
                            <div class="code">&amp;#xe61d;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe61e;</i>
                            <div class="name">安全监测-BIM检测展示</div>
                            <div class="code">&amp;#xe61e;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe61f;</i>
                            <div class="name">进度管理-预警设置</div>
                            <div class="code">&amp;#xe61f;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe620;</i>
                            <div class="name">进度管理-设备台帐</div>
                            <div class="code">&amp;#xe620;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe621;</i>
                            <div class="name">进度管理-监测文档</div>
                            <div class="code">&amp;#xe621;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe622;</i>
                            <div class="name">监控视频-全景360度</div>
                            <div class="code">&amp;#xe622;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe623;</i>
                            <div class="name">监控视频-历史视频</div>
                            <div class="code">&amp;#xe623;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe624;</i>
                            <div class="name">监控视频-画面对比</div>
                            <div class="code">&amp;#xe624;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe625;</i>
                            <div class="name">水情测报-文档管理</div>
                            <div class="code">&amp;#xe625;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe626;</i>
                            <div class="name">水情测报-水纹信息</div>
                            <div class="code">&amp;#xe626;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe627;</i>
                            <div class="name">水情测报-降雨信息</div>
                            <div class="code">&amp;#xe627;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe628;</i>
                            <div class="name">基础数据-工程数据</div>
                            <div class="code">&amp;#xe628;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe629;</i>
                            <div class="name">基础数据-投资信息</div>
                            <div class="code">&amp;#xe629;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe62a;</i>
                            <div class="name">基础数据-模型管理</div>
                            <div class="code">&amp;#xe62a;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe62b;</i>
                            <div class="name">系统管理-系统设置</div>
                            <div class="code">&amp;#xe62b;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe62c;</i>
                            <div class="name">系统管理-用户设置</div>
                            <div class="code">&amp;#xe62c;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe62d;</i>
                            <div class="name">系统管理-用户管理</div>
                            <div class="code">&amp;#xe62d;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe62e;</i>
                            <div class="name">用户中心-个人文档</div>
                            <div class="code">&amp;#xe62e;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe62f;</i>
                            <div class="name">用户中心-进度预警</div>
                            <div class="code">&amp;#xe62f;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe632;</i>
                            <div class="name">设计管理-分项填报</div>
                            <div class="code">&amp;#xe632;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe633;</i>
                            <div class="name">设计管理-清单维护</div>
                            <div class="code">&amp;#xe633;</div>
                    </li>
            </ul>
            <h1>三级菜单</h1>
            <h2>主页小标题栏</h2>
            <ul class="icon_lists clear">
                    <li>
                            <i class="icon iconfont">&#xe900;</i>
                            <div class="name">安全监测信息</div>
                            <div class="code">&amp;#xe900;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe901;</i>
                            <div class="name">工程进度表</div>
                            <div class="code">&amp;#xe901;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe902;</i>
                            <div class="name">投资管理数据分析</div>
                            <div class="code">&amp;#xe902;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe904;</i>
                            <div class="name">质量管理数据图表</div>
                            <div class="code">&amp;#xe904;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe903;</i>
                            <div class="name">混凝土智能温控</div>
                            <div class="code">&amp;#xe903;</div>
                    </li>
            </ul>
            <h2>综合展示-设计模型</h2>
            <ul class="icon_lists clear">
                    <li>
                            <i class="icon iconfont">&#xe905;</i>
                            <div class="name">勘测系统</div>
                            <div class="code">&amp;#xe905;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe906;</i>
                            <div class="name">机电系统</div>
                            <div class="code">&amp;#xe906;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe907;</i>
                            <div class="name">土建系统</div>
                            <div class="code">&amp;#xe907;</div>
                    </li>
            </ul>


            <h1>内容页标签小图标</h1>
            <h2>个人中心-进度预警</h2>
            <ul class="icon_lists clear">
                    <li>
                            <i class="icon iconfont">&#xe943;</i>
                            <div class="name">进度预警信息</div>
                            <div class="code">&amp;#xe943;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe944;</i>
                            <div class="name">进度预警信息设置</div>
                            <div class="code">&amp;#xe944;</div>
                    </li>
            </ul>
            <h2>设计管理-设计管理</h2>
            <ul class="icon_lists clear">
                    <li>
                            <i class="icon iconfont">&#xe945;</i>
                            <div class="name">近期图纸修改通知单</div>
                            <div class="code">&amp;#xe6945;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe946;</i>
                            <div class="name">近期图纸列表</div>
                            <div class="code">&amp;#xe946;</div>
                    </li>
            </ul>
            <h2>质量管理-质量管理</h2>
            <ul class="icon_lists clear">
                    <li>
                            <i class="icon iconfont">&#xe947;</i>
                            <div class="name">质量验评表统计分析图</div>
                            <div class="code">&amp;#xe947;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe948;</i>
                            <div class="name">近期完成质量验评表</div>
                            <div class="code">&amp;#xe948;</div>
                    </li>
            </ul>
            
    
            <h2>安全监测</h2>
            <ul class="icon_lists clear">
                    <li>
                            <i class="icon iconfont">&#xe960;</i>
                            <div class="name">安全监测</div>
                            <div class="code">&amp;#xe960;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe961;</i>
                            <div class="name">文件资料</div>
                            <div class="code">&amp;#xe961;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe967;</i>
                            <div class="name">预警信息</div>
                            <div class="code">&amp;#xe947;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe95F;</i>
                            <div class="name">设备台账</div>
                            <div class="code">&amp;#xe95F;</div>
                    </li>
            </ul>


            <h1>左边树小图标</h1>
            <ul class="icon_lists clear">
                    <li>
                            <i class="icon iconfont">&#xe908;</i>
                            <div class="name">挡水工程</div>
                            <div class="code">&amp;#xe908;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe909;</i>
                            <div class="name">引水发电工程</div>
                            <div class="code">&amp;#xe909;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe90a;</i>
                            <div class="name">其他项目</div>
                            <div class="code">&amp;#xe90a;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe90b;</i>
                            <div class="name">环境保护、水土保持</div>
                            <div class="code">&amp;#xe90b;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe90c;</i>
                            <div class="name">辅助工程</div>
                            <div class="code">&amp;#xe90c;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe90d;</i>
                            <div class="name">近坝岸坡处理</div>
                            <div class="code">&amp;#xe90d;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe90e;</i>
                            <div class="name">进度计划填报</div>
                            <div class="code">&amp;#xe90e;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe90f;</i>
                            <div class="name">施工计划输入</div>
                            <div class="code">&amp;#xe90f;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe910;</i>
                            <div class="name">实际进度计划填报</div>
                            <div class="code">&amp;#xe910;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe911;</i>
                            <div class="name">设计模型输入</div>
                            <div class="code">&amp;#xe911;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe912;</i>
                            <div class="name">施工模型输入</div>
                            <div class="code">&amp;#xe912;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe913;</i>
                            <div class="name">模型版本管理</div>
                            <div class="code">&amp;#xe913;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe914;</i>
                            <div class="name">分部工程</div>
                            <div class="code">&amp;#xe914;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe915;</i>
                            <div class="name">预警信息列表</div>
                            <div class="code">&amp;#xe915;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe916;</i>
                            <div class="name">账户管理</div>
                            <div class="code">&amp;#xe916;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe917;</i>
                            <div class="name">角色管理</div>
                            <div class="code">&amp;#xe917;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe918;</i>
                            <div class="name">权限管理</div>
                            <div class="code">&amp;#xe918;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe919;</i>
                            <div class="name">人员数据输入</div>
                            <div class="code">&amp;#xe919;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe91a;</i>
                            <div class="name">系统数据输入</div>
                            <div class="code">&amp;#xe91a;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe91b;</i>
                            <div class="name">参建单位输入</div>
                            <div class="code">&amp;#xe91b;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe91c;</i>
                            <div class="name">位置数据输入</div>
                            <div class="code">&amp;#xe91c;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe91d;</i>
                            <div class="name">构建对象输入</div>
                            <div class="code">&amp;#xe91d;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe91e;</i>
                            <div class="name">合同工程量变更</div>
                            <div class="code">&amp;#xe91e;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe91f;</i>
                            <div class="name">合同工程量填报</div>
                            <div class="code">&amp;#xe91f;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe920;</i>
                            <div class="name">工程量模板管理</div>
                            <div class="code">&amp;#xe920;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe921;</i>
                            <div class="name">招标工程量输入</div>
                            <div class="code">&amp;#xe921;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe922;</i>
                            <div class="name">工作任务</div>
                            <div class="code">&amp;#xe922;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe923;</i>
                            <div class="name">将要执行</div>
                            <div class="code">&amp;#xe923;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe924;</i>
                            <div class="name">已委托</div>
                            <div class="code">&amp;#xe924;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe925;</i>
                            <div class="name">已完成</div>
                            <div class="code">&amp;#xe925;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe926;</i>
                            <div class="name">已提交</div>
                            <div class="code">&amp;#xe926;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe927;</i>
                            <div class="name">进行中</div>
                            <div class="code">&amp;#xe927;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe928;</i>
                            <div class="name">密码修改</div>
                            <div class="code">&amp;#xe928;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe929;</i>
                            <div class="name">用户信息</div>
                            <div class="code">&amp;#xe929;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe92a;</i>
                            <div class="name">计量单位</div>
                            <div class="code">&amp;#xe92a;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe92b;</i>
                            <div class="name">系统显示</div>
                            <div class="code">&amp;#xe92b;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe92c;</i>
                            <div class="name">编码规则设置</div>
                            <div class="code">&amp;#xe92c;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe92d;</i>
                            <div class="name">流程模板</div>
                            <div class="code">&amp;#xe92d;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe92e;</i>
                            <div class="name">存储目录</div>
                            <div class="code">&amp;#xe92e;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe92f;</i>
                            <div class="name">全景360度</div>
                            <div class="code">&amp;#xe92f;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe930;</i>
                            <div class="name">摄像头图标</div>
                            <div class="code">&amp;#xe930;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe931;</i>
                            <div class="name">麦地龙承包商营地工程</div>
                            <div class="code">&amp;#xe931;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe932;</i>
                            <div class="name">施工期水情测报工程</div>
                            <div class="code">&amp;#xe932;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe933;</i>
                            <div class="name">输水工程</div>
                            <div class="code">&amp;#xe933;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe934;</i>
                            <div class="name">混凝土生产及浇筑系统工程</div>
                            <div class="code">&amp;#xe934;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe935;</i>
                            <div class="name">环保水保工程</div>
                            <div class="code">&amp;#xe935;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe936;</i>
                            <div class="name">上铺子沟砂石加工系统工程</div>
                            <div class="code">&amp;#xe936;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe937;</i>
                            <div class="name">下游河道整治工程</div>
                            <div class="code">&amp;#xe937;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe938;</i>
                            <div class="name">拱坝工程</div>
                            <div class="code">&amp;#xe938;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe939;</i>
                            <div class="name">过鱼设施工程</div>
                            <div class="code">&amp;#xe939;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe93a;</i>
                            <div class="name">运行管理项目</div>
                            <div class="code">&amp;#xe93a;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe93b;</i>
                            <div class="name">地下发电厂房工程</div>
                            <div class="code">&amp;#xe93b;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe93c;</i>
                            <div class="name">升压变电工程</div>
                            <div class="code">&amp;#xe93c;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe93d;</i>
                            <div class="name">泄洪雾化区处理工程</div>
                            <div class="code">&amp;#xe93d;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe93e;</i>
                            <div class="name">交通工程</div>
                            <div class="code">&amp;#xe93e;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe93f;</i>
                            <div class="name">水垫塘及二道坝工程</div>
                            <div class="code">&amp;#xe93f;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe940;</i>
                            <div class="name">危岩体处理工程</div>
                            <div class="code">&amp;#xe940;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe941;</i>
                            <div class="name">鱼类增殖站工程</div>
                            <div class="code">&amp;#xe941;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe942;</i>
                            <div class="name">旦坡崩坡积体处理工程</div>
                            <div class="code">&amp;#xe942;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe949;</i>
                            <div class="name">大坝模型</div>
                            <div class="code">&amp;#xe949;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe94a;</i>
                            <div class="name">总装模型</div>
                            <div class="code">&amp;#xe94a;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe94b;</i>
                            <div class="name">发电系统模型</div>
                            <div class="code">&amp;#xe94b;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe94c;</i>
                            <div class="name">机电系统模型</div>
                            <div class="code">&amp;#xe94c;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe94d;</i>
                            <div class="name">分项工程</div>
                            <div class="code">&amp;#xe94d;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe94e;</i>
                            <div class="name">分项填报</div>
                            <div class="code">&amp;#xe94e;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe94f;</i>
                            <div class="name">分部工程</div>
                            <div class="code">&amp;#xe94f;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe950;</i>
                            <div class="name">地质模型</div>
                            <div class="code">&amp;#xe950;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe951;</i>
                            <div class="name">地质模型输入</div>
                            <div class="code">&amp;#xe951;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe952;</i>
                            <div class="name">土建模型输入</div>
                            <div class="code">&amp;#xe952;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe953;</i>
                            <div class="name">单元工程</div>
                            <div class="code">&amp;#xe953;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe954;</i>
                            <div class="name">其他辅助工程</div>
                            <div class="code">&amp;#xe954;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe955;</i>
                            <div class="name">其他项目</div>
                            <div class="code">&amp;#xe955;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe956;</i>
                            <div class="name">清单维护</div>
                            <div class="code">&amp;#xe956;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe957;</i>
                            <div class="name">测绘模型</div>
                            <div class="code">&amp;#xe957;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe958;</i>
                            <div class="name">测绘模型输入</div>
                            <div class="code">&amp;#xe958;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe959;</i>
                            <div class="name">载入中</div>
                            <div class="code">&amp;#xe959;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe95a;</i>
                            <div class="name">模型</div>
                            <div class="code">&amp;#xe95a;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe95b;</i>
                            <div class="name">公路</div>
                            <div class="code">&amp;#xe95b;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe95c;</i>
                            <div class="name">山洞</div>
                            <div class="code">&amp;#xe95c;</div>
                    </li>
            </ul>
            <h2>dgn控制图标</h2>
            <ul class="icon_lists clear">
                    <li>
                            <i class="icon iconfont">&#xe720;</i>
                            <div class="name">最前</div>
                            <div class="code">&amp;#xe720;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe721;</i>
                            <div class="name">最后</div>
                            <div class="code">&amp;#xe721;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe722;</i>
                            <div class="name">上一个</div>
                            <div class="code">&amp;#xe722;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe723;</i>
                            <div class="name">下一个</div>
                            <div class="code">&amp;#xe723;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe724;</i>
                            <div class="name">播放</div>
                            <div class="code">&amp;#xe724;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe725;</i>
                            <div class="name">暂停</div>
                            <div class="code">&amp;#xe725;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe726;</i>
                            <div class="name">停止</div>
                            <div class="code">&amp;#xe726;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe727;</i>
                            <div class="name">增加</div>
                            <div class="code">&amp;#xe727;</div>
                    </li>
                    <li>
                            <i class="icon iconfont">&#xe728;</i>
                            <div class="name">减少</div>
                            <div class="code">&amp;#xe728;</div>
                    </li>
            </ul>


        <div class="helps">
            第一步：使用font-face声明字体
            <pre>
@font-face {font-family: 'iconfont';
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
</pre>
第二步：定义使用iconfont的样式
            <pre>
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
</pre>
第三步：挑选相应图标并获取字体编码，应用于页面
<pre>
&lt;i class="iconfont"&gt;&amp;#x33;&lt;/i&gt;
</pre>
        </div>

    </div>
</body>
</html>
